h1 {
    color: rgb(22, 22, 128);
    text-align: center;
}

body {
    background-color: aliceblue;
}

a {
    text-decoration: none;
}

#ifCalc {
    margin: auto;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(228, 216, 239);
    border: 5pt;
    border:thick double;
    border-color: rgb(177, 146, 216);
    color: rgb(83, 113, 139);
    height: 5vw;
    width: 20vw;
    font-size: 13pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#switchCalc {

        margin: auto;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        background-color: rgb(228, 216, 239);
        border: 5pt;
        border:thick double;
        border-color: rgb(177, 146, 216);
        color: rgb(83, 113, 139);
        height: 5vw;
        width: 20vw;
        font-size: 13pt;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

#switch {
    text-align: center;
}

#if {
    text-align: center;
}
